a {
    color: white;
}
a:hover {
    color: #AAAAAA;
}

body {
    background-color: dimgrey;
}

#logo {
    width: 100px;
    height: 200px;
}
#map {
    border: 10px white;
}

.imgCarousel, .carousel-item {
    width: 100px;
    height: 200px;
    margin: auto;
}

