a {
    color: white;

}
a:hover {
    color: #AAAAAA;
    text-decoration: none;
}

body {
    background-color: dimgrey;
}

#logo {
    width: 200px;
    height: 400px;
}

#map {
    border: 10px white;
}

.imgCarousel, .carousel-item {
    width: 100px;
    height: 200px;
    margin: auto;
}

hr {
    border-top: 3px white
}
.fixed {
    position: fixed;
    top: 0;
    background-color: dimgray;

}

