{% extends 'base.html.twig' %}



{% block title 'Mes tableaux' %}

    {% block body %}
        <div style="margin-top: 50px"></div>

<div class="row" style="width: 95%; height: 100%;   border: solid 5px white; margin: auto; border-radius: 40px; background-color: dimgray; ">

    {% for artwork in artworks %}
        {% if artwork.filename %}
            <div class=" col-d-flex" style="width: 30%; margin: auto; border: none; padding: 10px"  >

                <div class="card mt-4" style=" border: none;  background-color: dimgray; margin: auto; ">
                    <a  href="#">
                        <img id="pic" class="img-fluid img-thumbnail"  src="{{ vich_uploader_asset(artwork, 'imageFile')    }}"
                             alt="card-img-top"   style="width: 100%; height: auto ; border: none" >
                    </a>
                </div>
            </div>


        {% endif %}
    {% endfor %}
</div>
        <div style="margin-top: 40px"></div>
        <div class="pagination justify-content-center">
            {{ knp_pagination_render(artworks, null, {}, {
                'position': 'centered',
                'size': 'medium',
                'rounded': true,

            }) }}
        </div>
    {% endblock %}


