{% extends 'base.html.twig' %}


{%  block body %}

{{ form_start(form) }}
<div class="container mt-4">
    <div class="col">{{ form_row(form.type_art) }}</div>
    <div class="col">{{ form_row(form.imageFile) }}</div>
    <div class="col form-group">
        <button class="btn btn-primary">Envoyer</button>
    </div>

</div>


{{ form_end(form) }}

{% endblock %}
