{% extends 'base.html.twig' %}


{% block title 'Atelier' %}



{% block body %}



    <div class="grid mt-4" style="width: 70%; margin: auto; display: flex; flex-direction: row-reverse; justify-content: flex-start">
        <div class="text">
            <div style="width: 500px; height: 400px">
                <img src="{{asset('/images/latetedelart.png')}}" alt="portrait" style="width: 500px; height: 400px">
            </div>
            <img src="{{asset('/images/atelier1.JPG')}}" alt="portrait" style="width: 500px; height: 400px; border: solid 8px white">

        </div>

        <div class="text" style="margin-right: 10px; height: 500px">
            <img src="{{asset('/images/atelier2.jpg')}}" alt="portrait" style="width: 500px; height: 400px; border: solid 8px white">
            <br/>
            <br/>
            <br/>
            <br/>

            <p style="color: #DDDDDD; text-align: center" >
                Pas de démotivation profonde pour une quelconque discipline,
                c’est ainsi que E.LLANAS passe avec autant de plaisir des acryliques géométriques, aux pastels figuratifs ou
                abstraits, des encres aux collages, aux dessins a la mine plomb, etc….



                C’est dans son Atelier Galerie que sont présentées les diverses créations.
            </p>
        </div>
    </div>
    <div style="margin-bottom: 30px">

    </div>

{% endblock %}
